<div class="container animated fadeIn fast">
    <div class="mx-md-5 mt-5">
        <div class="mx-md-5 mt-5">
            <div class="mx-md-5 mt-5">
                <div class="mx-md-5 mt-5">
                    <div class="mx-md-5">
                        <div class="mx-md-5">
                            <form [formGroup]="registerForm">
                                <h2>Registar usuario</h2>

                                <div *ngIf="error == true" class="alert alert-danger animated fadeIn fast" role="alert">
                                    Todos los campos son requeridos.
                                </div>
                                <div *ngIf="passError == true" class="alert alert-danger animated fadeIn fast" role="alert">
                                    Las contraseñas no coinsiden.
                                </div>
                                
                                <div>
                                    <input formControlName="email" type="email" class="form-control mb-3" placeholder="Correo electronico" required>
                                    <input formControlName="password1" type="password" class="form-control mb-3" placeholder="Contraseña" required>
                                    <input formControlName="password2" type="password" class="form-control mb-3" placeholder="Repetir contraseña" required>
                                </div>
                                <div>
                                    <button (click)="register()" type="submit" class="btn btn-block btn-info">Registrar</button>
                                    <button (click)="clean()" class="btn btn-danger btn-block">Borrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>